<section class="main-section">
  <div class="container">
    <img src="../../../assets/img/pexels-malidate-van-784631.jpg" alt="">
    <div class="main-card">
      <h4>Always fresh</h4>
      <h1>Worth Eating</h1>
      <p class="main-card-content">every bit is unique, made from the finest ingredients selected by hands by
        our experts to deliver the end of experience and texture. once you try it,
        our dishes will be your first choice for a good meal - we guarantee it!</p>
    </div>
  </div>
</section>
<section class="promise">
  <div class="container">
    <div class="outer-border">
      <div class="inner-border promise-content">
        <h4>Our Promise</h4>
        <h1>To You</h1>
        <p>When you walk into our restaurant, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
      </div>
    </div>
  </div>
</section>

