<h1 class="text-uppercase text-center visible sub-title"><strong>Healthy, Stylish, Tasty</strong></h1>
<h1 class="text-uppercase text-center text-white visible main-title">golden meal<br></h1>
<nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">Golden Meal</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Recipes<br></a></li>
                <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
